@import "variables";

.product-list {
  &_card {
    width: 23%;
    border-radius: 20px;
    display: block;
    border: 1px solid $border-secondary;
    overflow: hidden;
    margin-bottom: 33px;

    .btn {
      border-radius: unset;

      &-dark {
        border: none;
        background-color: $primary;
        color: white;
        height: 41px;
      }
    }

    &--content {
      padding: 13px 20px;
    }

    &--title {
      color: $black;
      min-height: 48px;
      font-weight: bold;
    }

    &--description {
      font-family: $font-family-second;
      font-style: italic;
      font-size: $font-small-x;
      min-height: 147px;
    }

    &--price {
      font-size: 30px;
      font-weight: bold;
      font-family: $font-family-second;
    }

    &--amount {
      button {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;

        &:hover, &:focus, &:active {
          border: none;
        }

        &:disabled {
          opacity: .5;
        }

        &:hover:not(:disabled) {
          > svg {
            opacity: .7;
          }
        }

        &:active:not(:disabled) {
          > svg {
            opacity: 1;
          }
        }
      }

      label {
        margin-bottom: 0;
      }

      input {
        border: none;
        background: transparent;
        outline: none;
        width: 40px;
        height: 40px;
        text-align: center;

        &:hover, &:focus, &:active {
          border: none;
        }
      }
    }
  }
}
