<div class="container">
  <p class="page-header">{{pageTitle}}</p>
  <div class="product-list d-flex flex-wrap justify-content-between" *ngIf="products$ | async as products">
    <div class="product-list_card" *ngFor="let product of products">
      <img src="{{imageUrl}}{{product.image}}" alt="{{product.name}}" class="img-fluid">
      <div class="product-list_card--content">
        <div class="product-list_card--title">{{product.name | titlecase }}</div>
        <div class="product-list_card--description">{{product.description}}</div>
        <div class="d-flex flex-fill justify-content-between">
          <div
            class="product-list_card--price">{{currency.key | productCurrency}}{{product.base_price * currency.value | number:'1.0-0'}}</div>
          <div class="d-flex  product-list_card--amount">
            <button (click)="minusCount(countPizza)" [disabled]="+countPizza.value <= 1 || isProductAdded(product)">
              <svg class="icon-amount">
                <use xlink:href="/assets/images/symbols.svg#icon--minus"/>
              </svg>
            </button>
            <label>
              <input type="number" min="1" max="10" value="1" readonly #countPizza
                     [value]="getAmount(product)">
            </label>
            <button (click)="plusCount(countPizza)" [disabled]="+countPizza.value >= 10 || isProductAdded(product)">
              <svg class="icon-amount">
                <use xlink:href="/assets/images/symbols.svg#icon--plus"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <button i18n class="btn btn-block btn-outline-light mt-1" (click)="productAddToCart(product, +countPizza.value)"
              *ngIf="!isProductAdded(product)">
        Add to cart
      </button>
      <a i18n class="btn btn-block btn-dark mt-1" routerLink="/cart" *ngIf="isProductAdded(product)">
        Checkout
      </a>
    </div>
  </div>
</div>

