<div class="container">
  <div class="my-5">
    <h2 class="page-header">{{pageTitle}}</h2>
    <div class="order-list" *ngIf="orders.length > 0; else orders_empty">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let order of orders">
          <small class="text-sand">{{order.created_at | date}}</small>
          <p>Order <strong>#{{order.id}}</strong></p>
          <ul class="list-group" *ngIf="orders.length > 0">
            <li class="list-group-item d-flex justify-content-between px-0"
                *ngFor="let product of order.products">
                <img src="{{imageUrl}}{{product.image}}" alt="{{product.name}}" class="img-thumbnail">
                <h5 class="my-1">{{product.name | titlecase}}</h5>
              <div class="text-right">
                <small class="text-muted">{{currency.key | productCurrency}}{{product.base_price * currency.value | number:'1.0-0'}}<sup
                  class="badge badge-dark ml-1">x{{product.pivot.amount}}</sup></small><br>
                <span>{{currency.key | productCurrency}}{{product.base_price * product.pivot.amount * currency.value | number:'1.0-0'}}</span>
              </div>
            </li>
          </ul>
          <p class="h4 text-right"><span class="font-weight-bold">Sum</span>: {{currency.key | productCurrency}}{{order.sum * currency.value | number:'1.0-0'}}</p>
        </li>
      </ul>
    </div>
    <ng-template #orders_empty>
      <p i18n class="text-center">You have no orders</p>
    </ng-template>
  </div>
</div>
