@import "variables";


:host {
  margin-top: 5rem;
}

.bullet-item {
  background-image: url('/assets/images/bullet-bg.svg');
  width: 353px;
  height: 110px;
  background-repeat: no-repeat;

  .h2 {
    color: white;
    font-size: 40px;
    font-family: $font-family-second;

    &.bullet-header--small {
      font-size: 20px;
    }
  }
}
