<div class="container">
  <div class="d-flex justify-content-between">
    <div class="bullet-item d-flex align-items-center">
      <span class="col-4 h2 font-weight-bold text-center" i18n>1+1</span>
      <span class="col-8 font-weight-bold" i18n>Big pizza as a gift</span>
    </div>
    <div class="bullet-item d-flex align-items-center">
      <span class="col-4 h2 font-weight-bold text-center" i18n>$0</span>
      <span class="col-8 font-weight-bold" i18n>Birthday Gift Pizza</span>
    </div>
    <div class="bullet-item d-flex align-items-center">
      <span class="col-4 h2 font-weight-bold text-center bullet-header--small" i18n>$50 = $0</span>
      <span class="col-8 font-weight-bold" i18n>Free shipping on over $50</span>
    </div>
  </div>
</div>
