<a class="btn btn-regular btn-navbar--cart" i18n routerLink="/cart">
  <svg class="icon--regular">
    <use xlink:href="/assets/images/symbols.svg#icon--cart"/>
  </svg>
  Cart <sup>{{addedProducts.length}}</sup>
</a>
