@import "variables";

.btn-navbar--cart {
  background-color: $red;
  color: white;
  font-size: $font-small;
  font-weight: bold;

  sup {
    border-radius: 7px;
    background-color: white;
    padding: 0 4px;
    color: $primary;
  }
}

