<div class="container">
  <div class="checkout-wrapper" *ngIf="productsAdded.length > 0;else cart_empty">

    <div class="py-5 text-center">
      <h2>Checkout form</h2>
      <p class="lead">Fill in the required fields for order calculation and delivery</p>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{productsAdded.length}}</span>
        </h4>
        <ul class="list-group mb-3 checkout-product-list">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of productsAdded">
            <div>
              <h5 class="my-1">{{product.name | titlecase}}</h5>
              <img src="{{imageUrl}}{{product.image}}" alt="{{product.name}}" class="img-thumbnail">
            </div>
            <div class="text-right">
              <small class="text-muted">{{currency.key | productCurrency}}{{product.base_price * currency.value | number:'1.0-0'}}<sup
                class="badge badge-dark ml-1">x{{product.amount}}</sup></small><br>
              <span>{{currency.key | productCurrency}}{{(product.base_price * product.amount * currency.value) | number:'1.0-0'}}</span>
              <a (click)="removeProductFromCart(product)" class="ml-3">&times;</a>
            </div>
          </li>
        </ul>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{currency.key | productCurrency}}{{totalSum * currency.value | number:'1.0-0'}}</strong>
          </li>
        </ul>
      </div>

      <div class="col-md-8 order-md-1">
        <form class="needs-validation" (ngSubmit)="formSubmit()" [formGroup]="orderForm">
          <fieldset formGroupName="customer">
            <legend i18n>Customer data</legend>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="email" i18n>Email</label>
                <input type="email" class="form-control" id="email"
                       formControlName="email"
                       [ngClass]="{'is-invalid': emailError}"
                       placeholder="you@example.com"
                >
                <div class="invalid-feedback">{{emailError}}</div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="phone" i18n>Phone</label>
                <input type="tel" class="form-control" id="phone"
                       formControlName="phone"
                       [ngClass]="{'is-invalid': phoneError}"
                       placeholder="+1 999-999-99-99"
                >
                <div class="invalid-feedback">
                  {{phoneError}}
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="name" i18n>Name</label>
              <input type="text" class="form-control" id="name"
                     formControlName="name"
                     [ngClass]="{'is-invalid': nameError}"
              >
              <div class="invalid-feedback">
                {{nameError}}
              </div>
            </div>
          </fieldset>

          <fieldset formGroupName="address">
            <legend>Delivery address</legend>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="city" i18n>City</label>
                <input type="text" class="form-control" id="city" placeholder="New York"
                       [ngClass]="{'is-invalid': cityError}"
                       formControlName="city"
                >
                <div class="invalid-feedback">
                  {{cityError}}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="address" i18n>Address</label>
                <input type="text" class="form-control" id="address" placeholder="12 Main St"
                       [ngClass]="{'is-invalid':addressError}"
                       formControlName="address"
                >
                <div class="invalid-feedback">
                  {{addressError}}
                </div>
              </div>
            </div>
          </fieldset>
          <button class="btn btn-block btn-outline-dark mt-4" [disabled]="!orderForm.valid" type="submit">
            Submit order
          </button>
        </form>
      </div>
    </div>
  </div>
  <ng-template #cart_empty>
    <div class="py-5 text-center">
      <p class="lead mt-5" i18n>Your cart is empty</p>
      <a routerLink="/" class="btn btn-outline-dark" i18n>Add some pizzas!</a>
    </div>
  </ng-template>

</div>
