@import "variables";

.navbar {
  &--top {
    height: 40px;
    background-color: $beige;
    font-size: $font-small-x;
  }

  &--main {
    height: 100px;
    border-bottom: 1px solid #F0F0F0;

    .nav-item {
      color: $secondary;
      font-weight: bold;
    }
  }
}

.text-transparent {
  opacity: .7;
}

.icon {
  &--logo {
    width: 137px;
    height: 53px;
    &_footer {
      width: 97px;
      height: 103px;
    }
  }
}

.btn {
  &-navbar {
    &--login {
      color: $green;
      border-color: $border-primary;

      &:hover, &:focus, &:active {
        border-color: $secondary;
      }
    }
  }
}


footer {
  font-size: $font-small-x;
  margin-top: 100px;
  background: $black url("/assets/images/footer.png") no-repeat bottom center;

  > div {
    padding: 30px 15px 74px;
  }

  .navbar-nav {
    > li {
      padding-bottom: 10px;
    }
  }

  hr {
    height: 5px;
    border: none;
    background: url("/assets/images/footer-hr.png") no-repeat top center;
    margin: 35px 0 25px;
  }
}

/* Spinner */
.spinner {
  font-size: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.fa-spinner {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
