<div class="fa fa-spinner spinner" *ngIf="loading"></div>
<header class="navbar-container">
  <nav class="navbar navbar-expand-md navbar--top" aria-labelledby="top navigation">
    <div class="container">
      <div class="d-flex">
        <app-currency class="mr-4"></app-currency>
        <div i18n class="text-transparent">Average delivery time: 45 min</div>
      </div>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Menu</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Delivery</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Contacts</a></li>
        </ul>
      </div>
      <div class="d-flex">
        <a href="tel:{{phone}}" class="btn">{{phone}}</a>
        <a routerLink="/login" i18n aria-labelledby="Log in" class="btn btn-small btn-navbar--login ml-3" *ngIf="!currentCustomer">Log in</a>
        <a routerLink="/orders" i18n aria-labelledby="Orders" class="btn btn-small ml-3" *ngIf="currentCustomer">Orders</a>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md navbar--main" aria-labelledby="main navigation">
    <div class="container">
      <div class="d-flex justify-content-start align-items-baseline">
        <a routerLink="/" class="navbar-brand mr-5">
          <svg class="icon--logo">
            <use xlink:href="/assets/images/symbols.svg#icon--logo"/>
          </svg>
        </a>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Promotions</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Pizza</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Sauces</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Desserts</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/placeholder" i18n>Beverages</a></li>
          </ul>
        </div>
      </div>
      <app-cart-small></app-cart-small>
    </div>
  </nav>
</header>
<main>
  <simple-notifications></simple-notifications>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
    <div class="row align-items-start">
      <div class="col-md-4 d-flex align-items-center">
        <img src="/assets/images/footer-logo.svg" alt="{{pageTitle}}">
        <div>
          <span class="h2 text-white font-weight-bold">1 604</span><br>
          <span class="text-sand font-size-regular">orders were delivered yesterday</span>
        </div>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav">
          <li class="nav-item"><a routerLink="/placeholder" i18n>Menu</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Delivery</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>About</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Contacts</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav">
          <li class="nav-item"><a routerLink="/placeholder" i18n>Nearest restaurant</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Support service</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Track order</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>For partners</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav">
          <li class="nav-item"><a routerLink="/placeholder" i18n>Calorie</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Content and composition</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Help</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav">
          <li class="nav-item"><a routerLink="/placeholder" i18n>Legal information</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Warranty Terms</a></li>
          <li class="nav-item"><a routerLink="/placeholder" i18n>Terms of use</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <div>© 2020 {{pageTitle}}.<br>Order pizza at home or in the office.<br>All rights reserved.</div>
      <div class="text-right">Hot line<br><a href="tel:{{phone}}">{{phone}}</a></div>
    </div>
  </div>
</footer>

