<a (click)="setCurrency($event)" class="mr-2" [ngClass]="{'font-weight-bold': currency === 'USD'}">USD</a>
<a (click)="setCurrency($event)" [ngClass]="{'font-weight-bold': currency === 'EUR'}">EUR</a>
