<div class="container">
  <h1 class="page-header">This page is just a placeholder for static content pages</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aut consequatur doloremque fugit libero
    minus nam quasi quibusdam ullam! Alias commodi, excepturi facere iusto natus saepe soluta tempore tenetur?
  </p>
  <p>Amet architecto atque illo, iure nam necessitatibus neque numquam recusandae sed velit. Beatae distinctio earum
    eligendi enim facilis illum, ipsam nesciunt obcaecati possimus quaerat quam quo repellendus sit unde vel!
  </p>
  <p>A aut doloremque, dolores eius et expedita illo illum laboriosam nam omnis provident quasi quo quod tempore
    voluptate! Architecto aut autem, dicta enim eos expedita ipsa magnam possimus similique voluptas?
  </p>
  <p>Ab aliquid aut autem eius, error est excepturi explicabo id impedit inventore itaque labore libero nihil nulla
    numquam, odio praesentium provident ratione repellat repellendus sapiente sit sunt totam vitae voluptates.
  </p>
  <p>Dolorum eveniet laborum minima non odit vero voluptatibus? At iure libero, maxime mollitia natus repellat rerum
    voluptates! Amet eligendi officiis veritatis. Corporis dolorum exercitationem necessitatibus nesciunt quae repellat
    rerum! Vel.
  </p>
</div>
