@import "./assets/styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  color: $primary;
  font-size: $font-regular;
  font-family: $font-family-base;
}

a {
  color: $primary;
  cursor: pointer;

  &:hover, &:focus, &:active {
    color: $secondary;
    text-decoration: none;
  }
}

.btn {
  color: inherit;
  font-size: inherit;
  outline: none;
  border-radius: 20px;

  &:hover, &:focus, &:active {
    color: inherit;
    outline: none;
    box-shadow: none;
  }

  &-small {
    padding: 5px 15px;
  }

  &-regular {
    padding: 10px 20px;
    border-radius: 24px;
  }
}

[class*="btn-outline-"]:not(.btn-outline-light){
  &:hover, &:focus, &:active {
    color: white;
  }
}

.h1 {
  font-size: 4.5rem;
  line-height: 90px;
}

.color-rose {
  color: $rose;
}

.page-header {
  font-size: 70px;
  line-height: 90px;
  font-weight: bold;
  font-family: $font-family-second;
  margin-top: 60px;
  margin-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.form-control {
  &::-webkit-input-placeholder, &::placeholder {
    color: $gray;
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.icon {
  &-amount {
    width: 40px;
    height: 40px;
  }

  &--regular {
    width: 19px;
    height: 19px;
  }
}


.text-sand {
  color: $sand;
}

.font-size-regular {
  font-size: $font-regular;
}
