/* colors */
$black: #333333;
$beige: rgba(147, 98, 70, 0.07);
$primary: #8D6955;
$secondary: #8b4513;
$third: #FCF0ED;
$green: #72A91A;
$green-second: #E4EED3;
$red: #DD4024;
$rose: #FFB6A9;
$sand: #D39673;
$gray: #aaa;
$border-primary: #E3D7D0;
$border-secondary: #EFECEA;

/* font sizes */
$font-small-x: 14px;
$font-small: 16px;
$font-regular: 18px;

/* font families */
$font-family-base: 'Lato', 'Tahoma', 'Arial', sans-serif;
$font-family-second: 'IBM Plex Serif', serif;
