<div class="slider">
  <div class="container">
    <div class="slider_item position-relative" style="background-image: url('./assets/images/main.png')"
         *ngIf="sliderProduct">

      <div class="slider_item-text position-absolute">
        <div class="slider_item-text--icon text-center">
          <span i18n class="font-weight-bold font-italic">New</span>
        </div>
        <p class="h1 mt-3 color-rose font-weight-bold" i18n>{{sliderProduct.name | titlecase}}</p>
        <p class="h4 mt-3 color-rose font-weight-normal font-italic" i18n>New pizza according to old Italian recipes</p>
        <div class="slider_item-text--action d-flex mt-5 position-relative">
          <button class="btn btn-white" i18n (click)="productAddToCart(sliderProduct)">Order</button>
          <button class="btn btn-outline-white ml-3" i18n (click)="composition.classList.toggle('show')">Composition</button>
          <div class="tooltip fade bs-tooltip-top" role="tooltip" #composition>
            <div class="arrow"></div>
            <div class="tooltip-inner">
              {{sliderProduct.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
