<div class="container">
  <div class="my-5">
    <h2 class="page-header">{{pageTitle}}</h2>
    <p class="lead" i18n>Please fill your email and <abbr title="any - means any literally">any</abbr> password</p>
  </div>
  <form class="needs-validation" novalidate (ngSubmit)="login(loginForm)" #loginForm="ngForm" autocomplete="off">
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="email">Email</label>
      <div class="col-md-8">
        <input class="form-control"
               [ngClass]="{'is-invalid': (email.touched || email.dirty) && !email.valid }"
               id="email"
               placeholder="Email (required)"
               required
               ngModel
               name="email" #email="ngModel"/>
        <div class="invalid-feedback" i18n>
          Email is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="passwordId">Password</label>
      <div class="col-md-8">
        <input class="form-control"
               [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }"
               id="passwordId"
               type="password"
               placeholder="Password (required)"
               required
               ngModel
               name="password" #passwordVar="ngModel"/>
        <div class="invalid-feedback" i18n>
          Password is required.
        </div>
      </div>
    </div>

    <div class="form-group">

        <button class="btn btn-outline-dark mr-2" type="submit" [disabled]="!loginForm.valid" i18n>Log In</button>
        <a class="btn btn-light" (click)="cancel()" i18n>Cancel</a>
      </div>
  </form>
</div>
